
/*
 * ============================================
 *        ESTILO PANTALLA DE LOGIN
 *        JavaFX + Scene Builder
 * ============================================
 */


/* ============================================
   CONTENEDOR PRINCIPAL
   ============================================ */

.login-root {
    -fx-background-color: #102A2A;
}


/* ============================================
   LABELS
   ============================================ */

.login-label {
    -fx-text-fill: #09ED2E;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/* ============================================
   CAMPOS DE TEXTO
   ============================================ */

.login-field {
    -fx-background-color: #F4F1DE;
    -fx-text-fill: #173F3F;
    -fx-prompt-text-fill: #829A9A;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;

    -fx-border-color: #6FB98F;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;

    -fx-background-radius: 8px;

    -fx-padding: 10px;

    -fx-pref-width: 170px;
    -fx-pref-height: 40px;
}


/* Campo seleccionado */

.login-field:focused {
    -fx-background-color: #FFFDF5;
    -fx-border-color: #FF8C69;
    -fx-border-width: 2px;
}


/* ============================================
   BOTÓN
   ============================================ */

.login-button {
    -fx-background-color: #FF8C69;
    -fx-text-fill: #FFFFFF;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 9px;
    -fx-border-radius: 9px;

    -fx-padding: 10px;

    -fx-pref-width: 112px;
    -fx-pref-height: 40px;

    -fx-cursor: hand;
}


/* Mouse encima */

.login-button:hover {
    -fx-background-color: #FF7050;
}


/* Botón presionado */

.login-button:pressed {
    -fx-background-color: #E85D3F;
}

